<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.core.uaa.mapper.SysAuthLogMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="SysAuthLogResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`AUTHCODE`, t1.`AUTHTIME`, t1.`DOMAIN`, t1.`IPADDR`, t1.`LOGID`, t1.`MACADDR`, t1.`PERSONNAME`, t1.`USERAGENT`, t1.`USERNAME` FROM `IBZAUTHLOG` t1  ) t1 where logid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="SysAuthLogResultMap" databaseId="oracle">
        <![CDATA[select t1.* from (SELECT t1.AUTHCODE, t1.AUTHTIME, t1.DOMAIN, t1.IPADDR, t1.LOGID, t1.MACADDR, t1.PERSONNAME, t1.USERAGENT, t1.USERNAME FROM IBZAUTHLOG t1  ) t1 where logid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="SysAuthLogResultMap" databaseId="postgresql">
        <![CDATA[select t1.* from (SELECT t1.AUTHCODE, t1.AUTHTIME, t1.DOMAIN, t1.IPADDR, t1.LOGID, t1.MACADDR, t1.PERSONNAME, t1.USERAGENT, t1.USERNAME FROM IBZAUTHLOG t1  ) t1 where logid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="SysAuthLogResultMap" type="cn.ibizlab.core.uaa.domain.SysAuthLog" autoMapping="true">
        <id property="logid" column="logid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.core.uaa.filter.SysAuthLogSearchContext"  resultMap="SysAuthLogResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`AUTHCODE`, t1.`AUTHTIME`, t1.`DOMAIN`, t1.`IPADDR`, t1.`LOGID`, t1.`MACADDR`, t1.`PERSONNAME`, t1.`USERAGENT`, t1.`USERNAME` FROM `IBZAUTHLOG` t1  
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.AUTHCODE, t1.AUTHTIME, t1.DOMAIN, t1.IPADDR, t1.LOGID, t1.MACADDR, t1.PERSONNAME, t1.USERAGENT, t1.USERNAME FROM IBZAUTHLOG t1  
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.AUTHCODE, t1.AUTHTIME, t1.DOMAIN, t1.IPADDR, t1.LOGID, t1.MACADDR, t1.PERSONNAME, t1.USERAGENT, t1.USERNAME FROM IBZAUTHLOG t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`AUTHCODE`, t1.`AUTHTIME`, t1.`DOMAIN`, t1.`IPADDR`, t1.`LOGID`, t1.`MACADDR`, t1.`PERSONNAME`, t1.`USERAGENT`, t1.`USERNAME` FROM `IBZAUTHLOG` t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="oracle">
       <![CDATA[	SELECT t1.AUTHCODE, t1.AUTHTIME, t1.DOMAIN, t1.IPADDR, t1.LOGID, t1.MACADDR, t1.PERSONNAME, t1.USERAGENT, t1.USERNAME FROM IBZAUTHLOG t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="postgresql">
       <![CDATA[	SELECT t1.AUTHCODE, t1.AUTHTIME, t1.DOMAIN, t1.IPADDR, t1.LOGID, t1.MACADDR, t1.PERSONNAME, t1.USERAGENT, t1.USERNAME FROM IBZAUTHLOG t1  
			]]>
    </sql>
</mapper>

