.input-unit{
    position: relative;
    .unit-text{
        position: absolute;
        top: 0;
        right: 20px;
    }
    .ivu-input-number{
        width: 100%;
    }
    .ivu-input-number-input{
        text-align: left;
    }
    .ivu-input-number-input:hover{
        padding-right:22px;
    }
}