<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.core.workflow.mapper.WFMemberMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="WFMemberResultMap" type="cn.ibizlab.core.workflow.domain.WFMember" autoMapping="true">
        <id property="memberid" column="memberid" /><!--主键字段映射-->
		<result property="groupid" column="groupid" />
		<result property="userid" column="userid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="group" javaType="cn.ibizlab.core.workflow.domain.WFGroup" column="groupid" select="cn.ibizlab.core.workflow.mapper.WFGroupMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="user" javaType="cn.ibizlab.core.workflow.domain.WFUser" column="userid" select="cn.ibizlab.core.workflow.mapper.WFUserMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WF_GROUP_MEMBER_WF_GROUP_GROUPID] -->
	 <select id="selectByGroupid" resultMap="WFMemberResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  groupid=#{id}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_WF_GROUP_MEMBER_WF_USER_USERID] -->
	 <select id="selectByUserid" resultMap="WFMemberResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  userid=#{id}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.core.workflow.filter.WFMemberSearchContext"  resultMap="WFMemberResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`GROUPID`, t11.`GROUPNAME`, t1.`MEMBERID`, t1.`MEMBERNAME`, t21.`PERSONNAME`, t1.`USERID` FROM `IBZWFMEMBER` t1  LEFT JOIN IBZWFGROUP t11 ON t1.GROUPID = t11.GROUPID  LEFT JOIN IBZUSER t21 ON t1.USERID = t21.USERID  
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
       <![CDATA[	SELECT t1.GROUPID, t11.GROUPNAME, t1.MEMBERID, t1.MEMBERNAME, t21.PERSONNAME, t1.USERID FROM IBZWFMEMBER t1  LEFT JOIN IBZWFGROUP t11 ON t1.GROUPID = t11.GROUPID  LEFT JOIN IBZUSER t21 ON t1.USERID = t21.USERID  
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.GROUPID, t11.GROUPNAME, t1.MEMBERID, t1.MEMBERNAME, t21.PERSONNAME, t1.USERID FROM IBZWFMEMBER t1  LEFT JOIN IBZWFGROUP t11 ON t1.GROUPID = t11.GROUPID  LEFT JOIN IBZUSER t21 ON t1.USERID = t21.USERID  
			]]>
    </sql>
</mapper>

