<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.core.notify.mapper.MsgBodyMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="MsgBodyResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CONTENT`, t1.`ERRORINFO`, t1.`ISERROR`, t1.`ISSEND`, t1.`MSGID`, t1.`MSGLINK`, t1.`MSGLINK_PC`, t1.`MSGNAME`, t1.`MSGTYPE`, t1.`SUBJECT`, t1.`TEMPLATEID`, t1.`TEMPLPARAMS`, t1.`TOUSERS`, t1.`USERDATA`, t1.`USERDATA2` FROM `IBZMSGBODY` t1  ) t1 where msgid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="MsgBodyResultMap" databaseId="oracle">
        <![CDATA[select t1.* from (SELECT t1.CONTENT, t1.ERRORINFO, t1.ISERROR, t1.ISSEND, t1.MSGID, t1.MSGLINK, t1.MSGLINK_PC, t1.MSGNAME, t1.MSGTYPE, t1.SUBJECT, t1.TEMPLATEID, t1.TEMPLPARAMS, t1.TOUSERS, t1.USERDATA, t1.USERDATA2 FROM IBZMSGBODY t1  ) t1 where msgid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="MsgBodyResultMap" databaseId="postgresql">
        <![CDATA[select t1.* from (SELECT t1.CONTENT, t1.ERRORINFO, t1.ISERROR, t1.ISSEND, t1.MSGID, t1.MSGLINK, t1.MSGLINK_PC, t1.MSGNAME, t1.MSGTYPE, t1.SUBJECT, t1.TEMPLATEID, t1.TEMPLPARAMS, t1.TOUSERS, t1.USERDATA, t1.USERDATA2 FROM IBZMSGBODY t1  ) t1 where msgid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="MsgBodyResultMap" type="cn.ibizlab.core.notify.domain.MsgBody" autoMapping="true">
        <id property="msgId" column="msgid" /><!--主键字段映射-->
		<result property="templateParams" column="templparams" />
		<result property="msgLinkPc" column="msglink_pc" />
            
		
    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.core.notify.filter.MsgBodySearchContext"  resultMap="MsgBodyResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`CONTENT`, t1.`ISERROR`, t1.`ISSEND`, t1.`MSGID`, t1.`MSGLINK`, t1.`MSGLINK_PC`, t1.`MSGNAME`, t1.`MSGTYPE`, t1.`SUBJECT`, t1.`TEMPLATEID`, t1.`TOUSERS`, t1.`USERDATA`, t1.`USERDATA2` FROM `IBZMSGBODY` t1  
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
		<![CDATA[ SELECT t1.CONTENT, t1.ISERROR, t1.ISSEND, t1.MSGID, t1.MSGLINK, t1.MSGLINK_PC, t1.MSGNAME, t1.MSGTYPE, t1.SUBJECT, t1.TEMPLATEID, t1.TOUSERS, t1.USERDATA, t1.USERDATA2 FROM IBZMSGBODY t1  
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
		<![CDATA[ SELECT t1.CONTENT, t1.ISERROR, t1.ISSEND, t1.MSGID, t1.MSGLINK, t1.MSGLINK_PC, t1.MSGNAME, t1.MSGTYPE, t1.SUBJECT, t1.TEMPLATEID, t1.TOUSERS, t1.USERDATA, t1.USERDATA2 FROM IBZMSGBODY t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`CONTENT`, t1.`ERRORINFO`, t1.`ISERROR`, t1.`ISSEND`, t1.`MSGID`, t1.`MSGLINK`, t1.`MSGLINK_PC`, t1.`MSGNAME`, t1.`MSGTYPE`, t1.`SUBJECT`, t1.`TEMPLATEID`, t1.`TEMPLPARAMS`, t1.`TOUSERS`, t1.`USERDATA`, t1.`USERDATA2` FROM `IBZMSGBODY` t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="oracle">
		<![CDATA[ SELECT t1.CONTENT, t1.ERRORINFO, t1.ISERROR, t1.ISSEND, t1.MSGID, t1.MSGLINK, t1.MSGLINK_PC, t1.MSGNAME, t1.MSGTYPE, t1.SUBJECT, t1.TEMPLATEID, t1.TEMPLPARAMS, t1.TOUSERS, t1.USERDATA, t1.USERDATA2 FROM IBZMSGBODY t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="postgresql">
		<![CDATA[ SELECT t1.CONTENT, t1.ERRORINFO, t1.ISERROR, t1.ISSEND, t1.MSGID, t1.MSGLINK, t1.MSGLINK_PC, t1.MSGNAME, t1.MSGTYPE, t1.SUBJECT, t1.TEMPLATEID, t1.TEMPLPARAMS, t1.TOUSERS, t1.USERDATA, t1.USERDATA2 FROM IBZMSGBODY t1  
			]]>
    </sql>
</mapper>

