<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.core.ou.mapper.SysTeamMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="SysTeamResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`DOMAINS`, t1.`MEMO`, t1.`TEAMID`, t1.`TEAMNAME` FROM `IBZTEAM` t1  ) t1 where teamid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="SysTeamResultMap" databaseId="oracle">
        <![CDATA[select t1.* from (SELECT t1.DOMAINS, t1.MEMO, t1.TEAMID, t1.TEAMNAME FROM IBZTEAM t1  ) t1 where teamid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="SysTeamResultMap" databaseId="postgresql">
        <![CDATA[select t1.* from (SELECT t1.DOMAINS, t1.MEMO, t1.TEAMID, t1.TEAMNAME FROM IBZTEAM t1  ) t1 where teamid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="SysTeamResultMap" type="cn.ibizlab.core.ou.domain.SysTeam" autoMapping="true">
        <id property="teamid" column="teamid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.core.ou.filter.SysTeamSearchContext"  resultMap="SysTeamResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`DOMAINS`, t1.`MEMO`, t1.`TEAMID`, t1.`TEAMNAME` FROM `IBZTEAM` t1  
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
		<![CDATA[ SELECT t1.DOMAINS, t1.MEMO, t1.TEAMID, t1.TEAMNAME FROM IBZTEAM t1  
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
		<![CDATA[ SELECT t1.DOMAINS, t1.MEMO, t1.TEAMID, t1.TEAMNAME FROM IBZTEAM t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`DOMAINS`, t1.`MEMO`, t1.`TEAMID`, t1.`TEAMNAME` FROM `IBZTEAM` t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="oracle">
		<![CDATA[ SELECT t1.DOMAINS, t1.MEMO, t1.TEAMID, t1.TEAMNAME FROM IBZTEAM t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="postgresql">
		<![CDATA[ SELECT t1.DOMAINS, t1.MEMO, t1.TEAMID, t1.TEAMNAME FROM IBZTEAM t1  
			]]>
    </sql>
</mapper>

