<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="cn.ibizlab.core.uaa.mapper.SysUserMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="SysUserResultMap" type="cn.ibizlab.core.uaa.domain.SysUser" autoMapping="true">
		<id property="userid" column="userid" /><!--主键字段映射-->
            
		
    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.core.uaa.filter.SysUserSearchContext"  resultMap="SysUserResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`ADDR`, t1.`AVATAR`, t1.`BCODE`, t1.`BIRTHDAY`, t1.`CERTCODE`, t1.`DOMAINS`, t1.`EMAIL`, t1.`FONTSIZE`, t1.`LANG`, t1.`LOGINNAME`, t1.`MDEPTCODE`, t1.`MDEPTID`, t1.`MDEPTNAME`, t1.`MEMO`, t1.`NICKNAME`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PASSWORD`, t1.`PERSONNAME`, t1.`PHONE`, t1.`POSTCODE`, t1.`POSTID`, t1.`POSTNAME`, t1.`RESERVER`, t1.`SEX`, t1.`SUPERUSER`, t1.`THEME`, t1.`USERCODE`, t1.`USERICON`, t1.`USERID`, t1.`USERNAME` FROM `IBZUSER` t1  
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
		<![CDATA[ SELECT t1.ADDR, t1.AVATAR, t1.BCODE, t1.BIRTHDAY, t1.CERTCODE, t1.DOMAINS, t1.EMAIL, t1.FONTSIZE, t1.LANG, t1.LOGINNAME, t1.MDEPTCODE, t1.MDEPTID, t1.MDEPTNAME, t1.MEMO, t1.NICKNAME, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.PASSWORD, t1.PERSONNAME, t1.PHONE, t1.POSTCODE, t1.POSTID, t1.POSTNAME, t1.RESERVER, t1.SEX, t1.SUPERUSER, t1.THEME, t1.USERCODE, t1.USERICON, t1.USERID, t1.USERNAME FROM IBZUSER t1  
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
		<![CDATA[ SELECT t1.ADDR, t1.AVATAR, t1.BCODE, t1.BIRTHDAY, t1.CERTCODE, t1.DOMAINS, t1.EMAIL, t1.FONTSIZE, t1.LANG, t1.LOGINNAME, t1.MDEPTCODE, t1.MDEPTID, t1.MDEPTNAME, t1.MEMO, t1.NICKNAME, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.PASSWORD, t1.PERSONNAME, t1.PHONE, t1.POSTCODE, t1.POSTID, t1.POSTNAME, t1.RESERVER, t1.SEX, t1.SUPERUSER, t1.THEME, t1.USERCODE, t1.USERICON, t1.USERID, t1.USERNAME FROM IBZUSER t1  
			]]>
    </sql>
</mapper>

