<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="cn.ibizlab.core.task.mapper.JobsLogMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="JobsLogResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`ADDRESS`, t1.`CREATE_TIME`, t1.`FAIL_RETRY_COUNT`, t1.`HANDLER`, t1.`ID`, t1.`JOB_ID`, t1.`PARAM`, t1.`TRIGGER_CODE`, t1.`TRIGGER_MSG`, t1.`TRIGGER_TYPE` FROM `JOBS_LOG` t1  ) t1 where id=#{id}]]>
    </select>
	<select id="selectById"  resultMap="JobsLogResultMap" databaseId="oracle">
        <![CDATA[select t1.* from (SELECT t1.ADDRESS, t1.CREATE_TIME, t1.FAIL_RETRY_COUNT, t1.HANDLER, t1.ID, t1.JOB_ID, t1.PARAM, t1.TRIGGER_CODE, t1.TRIGGER_MSG, t1.TRIGGER_TYPE FROM JOBS_LOG t1  ) t1 where id=#{id}]]>
    </select>
	<select id="selectById"  resultMap="JobsLogResultMap" databaseId="postgresql">
        <![CDATA[select t1.* from (SELECT t1.ADDRESS, t1.CREATE_TIME, t1.FAIL_RETRY_COUNT, t1.HANDLER, t1.ID, t1.JOB_ID, t1.PARAM, t1.TRIGGER_CODE, t1.TRIGGER_MSG, t1.TRIGGER_TYPE FROM JOBS_LOG t1  ) t1 where id=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="JobsLogResultMap" type="cn.ibizlab.core.task.domain.JobsLog" autoMapping="true">
		<id property="id" column="id" /><!--主键字段映射-->
		<result property="jobId" column="job_id" />
		<result property="failRetryCount" column="fail_retry_count" />
		<result property="triggerCode" column="trigger_code" />
		<result property="triggerType" column="trigger_type" />
		<result property="triggerMsg" column="trigger_msg" />
		<result property="createTime" column="create_time" />
            
		
    </resultMap>


    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.core.task.filter.JobsLogSearchContext"  resultMap="JobsLogResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`ADDRESS`, t1.`CREATE_TIME`, t1.`FAIL_RETRY_COUNT`, t1.`HANDLER`, t1.`ID`, t1.`JOB_ID`, t1.`PARAM`, t1.`TRIGGER_CODE`, t1.`TRIGGER_TYPE` FROM `JOBS_LOG` t1  
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
		<![CDATA[ SELECT t1.ADDRESS, t1.CREATE_TIME, t1.FAIL_RETRY_COUNT, t1.HANDLER, t1.ID, t1.JOB_ID, t1.PARAM, t1.TRIGGER_CODE, t1.TRIGGER_TYPE FROM JOBS_LOG t1  
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
		<![CDATA[ SELECT t1.ADDRESS, t1.CREATE_TIME, t1.FAIL_RETRY_COUNT, t1.HANDLER, t1.ID, t1.JOB_ID, t1.PARAM, t1.TRIGGER_CODE, t1.TRIGGER_TYPE FROM JOBS_LOG t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`ADDRESS`, t1.`CREATE_TIME`, t1.`FAIL_RETRY_COUNT`, t1.`HANDLER`, t1.`ID`, t1.`JOB_ID`, t1.`PARAM`, t1.`TRIGGER_CODE`, t1.`TRIGGER_MSG`, t1.`TRIGGER_TYPE` FROM `JOBS_LOG` t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="oracle">
		<![CDATA[ SELECT t1.ADDRESS, t1.CREATE_TIME, t1.FAIL_RETRY_COUNT, t1.HANDLER, t1.ID, t1.JOB_ID, t1.PARAM, t1.TRIGGER_CODE, t1.TRIGGER_MSG, t1.TRIGGER_TYPE FROM JOBS_LOG t1  
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="postgresql">
		<![CDATA[ SELECT t1.ADDRESS, t1.CREATE_TIME, t1.FAIL_RETRY_COUNT, t1.HANDLER, t1.ID, t1.JOB_ID, t1.PARAM, t1.TRIGGER_CODE, t1.TRIGGER_MSG, t1.TRIGGER_TYPE FROM JOBS_LOG t1  
			]]>
    </sql>
</mapper>

