.app-form-item {
    // margin-bottom: 16px;
    >.ivu-form-item-label {
        text-decoration: none;
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }
    >.ivu-form-item-content {
        min-height: 36px;
    }
}
.app-form-item-label-top {
    >.ivu-form-item-label {
        float: none;
        display: inline-block;
        padding: 0 0 10px;
    }
}