<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.core.workflow.mapper.WFCoreMapper">

    <select id="searchMyTask"  parameterType="cn.ibizlab.core.workflow.filter.WFTaskSearchContext"  resultType="cn.ibizlab.core.workflow.domain.WFTask">
        SELECT
        t1.TaskId AS Id,
        t1.DefinitionId AS ProcessDefinitionId,
        t1.DefinitionName AS ProcessDefinitionName,
        t1.DefinitionKey AS ProcessDefinitionKey,
        t1.InstanceId AS ProcessInstanceId,
        t1.TaskName AS NAME,
        t1.TaskDefinitionKey,
        t1.BusinessKey AS ProcessInstanceBusinessKey,
        t1.Description,
        t1.CreateTime
        FROM
        (
        SELECT
        res.ID_ AS TaskId,
        res.PROC_DEF_ID_ AS DefinitionId,
        arp.NAME_ AS DefinitionName,
        arp.KEY_ AS DefinitionKey,
        res.PROC_INST_ID_ AS InstanceId,
        res.NAME_ AS TaskName,
        res.TASK_DEF_KEY_ AS TaskDefinitionKey,
        res.CATEGORY_ AS BusinessKey,
        res.DESCRIPTION_ AS Description,
        res.CREATE_TIME_ AS CreateTime
        FROM
        ACT_RU_TASK RES
        INNER JOIN act_re_procdef arp ON RES.PROC_DEF_ID_ = arp.ID_
        WHERE
        RES.ASSIGNEE_ = #{srf.sessioncontext.srfuserid}  or  ( RES.ASSIGNEE_ IS NULL  AND
        EXISTS ( SELECT LINK.ID_ FROM ACT_RU_IDENTITYLINK LINK WHERE LINK.TASK_ID_ = RES.ID_ AND LINK.USER_ID_ = #{srf.sessioncontext.srfuserid})  )
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
    </select>

    <select id="searchMyTaskByPage"  parameterType="cn.ibizlab.core.workflow.filter.WFTaskSearchContext"  resultType="java.util.Map">
        select distinct t1.TaskId as Id,USER_ID_ as UserId, t1.DefinitionId as ProcessDefinitionId, t1.DefinitionName as ProcessDefinitionName, t1.DefinitionKey as ProcessDefinitionKey, t1.InstanceId as
        ProcessInstanceId,
        t1.TaskName as Name, t1.TaskDefinitionKey, t1.BusinessKey as ProcessInstanceBusinessKey, t1.Description, t1.CreateTime from (
        select  res.ID_ as TaskId,link.USER_ID_,res.PROC_DEF_ID_ as DefinitionId,arp.NAME_ as DefinitionName,arp.KEY_ as DefinitionKey,
        res.PROC_INST_ID_ as  InstanceId,res.NAME_ as TaskName,res.TASK_DEF_KEY_ as TaskDefinitionKey,res.CATEGORY_ as BusinessKey,
        res.DESCRIPTION_ as Description,res.CREATE_TIME_ as CreateTime
        from ACT_RU_TASK RES inner join act_re_procdef arp on RES.PROC_DEF_ID_ = arp.ID_ left join ACT_RU_IDENTITYLINK link on res.ID_ = LINK.TASK_ID_
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
    </select>

    <select  id="searchMyTaskCnt"  parameterType="cn.ibizlab.core.workflow.filter.WFTaskSearchContext"  resultType="cn.ibizlab.core.workflow.domain.WFProcessNode">
        select t.ProcessDefinitionKey,max(t.ProcessDefinitionName) as ProcessDefinitionName,
        t.TaskDefinitionKey as UserTaskId,t.Name as UserTaskName,max(t.version) as version ,count(1) as Cnt from
        (select t1.TaskId as Id, t1.DefinitionId as ProcessDefinitionId, t1.DefinitionName as ProcessDefinitionName, t1.DefinitionKey as ProcessDefinitionKey, t1.InstanceId as ProcessInstanceId,
        t1.TaskName as Name, t1.TaskDefinitionKey, t1.BusinessKey as ProcessInstanceBusinessKey, t1.Description, t1.CreateTime,version from
        (
        select res.ID_ as TaskId,res.PROC_DEF_ID_ as DefinitionId,arp.NAME_ as DefinitionName,arp.KEY_ as DefinitionKey,arp.VERSION_ as version,
        res.PROC_INST_ID_ as  InstanceId,res.NAME_ as TaskName,res.TASK_DEF_KEY_ as TaskDefinitionKey,res.CATEGORY_ as BusinessKey,
        res.DESCRIPTION_ as Description,res.CREATE_TIME_ as CreateTime
        from ACT_RU_TASK RES
        inner join act_re_procdef arp on RES.PROC_DEF_ID_ = arp.ID_
        where exists (select LINK.ID_
        from ACT_RU_IDENTITYLINK LINK
        where LINK.TASK_ID_ = RES.ID_ and LINK.USER_ID_ = #{srf.sessioncontext.srfuserid})
        ) t1
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
        ) t
        group by t.ProcessDefinitionKey,t.TaskDefinitionKey,t.Name  order by  t.ProcessDefinitionKey,  t.TaskDefinitionKey

    </select>


    <select id="searchUserTask"  parameterType="java.util.Map"  resultType="java.util.Map">
        select t2.id_ as  id ,t2.execution_id_ as execution from act_ru_identitylink  t1 inner join act_ru_task t2 on t1.task_id_ = t2.id_ where t1.USER_ID_ in
        <foreach collection="et.userids" item="userid" index="index" open="(" close=")" separator=",">
            #{userid}
        </foreach>
        and t2.PROC_INST_ID_=#{et.processinstanceid}
    </select>

    <select id="readTask"  parameterType="java.util.Map"  resultType="java.util.Map">
        UPDATE ACT_RU_IDENTITYLINK  T  SET T.SCOPE_TYPE_= 'READ'  WHERE  T.TASK_ID_ = #{et.taskid}  AND T.USER_ID_=#{et.userid}
    </select>


    <select id="searchUnReadTask"  parameterType="cn.ibizlab.core.workflow.filter.WFTaskSearchContext"  resultType="cn.ibizlab.core.workflow.domain.WFTask">
        <![CDATA[     select   t1.TaskId as Id, t1.DefinitionId as ProcessDefinitionId, t1.DefinitionName as ProcessDefinitionName, t1.DefinitionKey as ProcessDefinitionKey, t1.InstanceId as ProcessInstanceId,
        t1.TaskName as Name, t1.TaskDefinitionKey, t1.BusinessKey as ProcessInstanceBusinessKey, t1.Description, t1.CreateTime from (
        select res.ID_ as TaskId,res.PROC_DEF_ID_ as DefinitionId,arp.NAME_ as DefinitionName,arp.KEY_ as DefinitionKey,
        res.PROC_INST_ID_ as  InstanceId,res.NAME_ as TaskName,res.TASK_DEF_KEY_ as TaskDefinitionKey,res.CATEGORY_ as BusinessKey,
        res.DESCRIPTION_ as Description,res.CREATE_TIME_ as CreateTime
        from ACT_RU_TASK RES inner join act_re_procdef arp on RES.PROC_DEF_ID_ = arp.ID_
        where
        exists (select LINK.ID_ from  ACT_RU_IDENTITYLINK LINK where LINK.TASK_ID_ = RES.ID_  and LINK.USER_ID_ = #{srf.sessioncontext.srfuserid} and (LINK.SCOPE_TYPE_ IS NULL OR  (LINK.SCOPE_TYPE_  IS NOT NULL AND LINK.SCOPE_TYPE_ <>'READ') ) )
        ) t1
         ]]>
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>

    </select>
    <select id="searchMyDoneTask" parameterType="cn.ibizlab.core.workflow.filter.WFTaskSearchContext"  resultType="cn.ibizlab.core.workflow.domain.WFTask">
        <![CDATA[
            SELECT
                T1.TaskId AS Id,
                T1.DefinitionId AS ProcessDefinitionId,
                T1.DefinitionName AS ProcessDefinitionName,
                T1.DefinitionKey AS ProcessDefinitionKey,
                T1.InstanceId AS ProcessInstanceId,
                T1.TaskName AS NAME,
                T1.TaskDefinitionKey,
                T1.BusinessKey AS ProcessInstanceBusinessKey,
                T1.Description,
                T1.CreateTime
            FROM
                (
                SELECT DISTINCT
                    RES.ID_ AS TaskId,
                    RES.PROC_DEF_ID_ AS DefinitionId,
                    ARP.NAME_ AS DefinitionName,
                    ARP.KEY_ AS DefinitionKey,
                    RES.PROC_INST_ID_ AS InstanceId,
                    RES.NAME_ AS TaskName,
                    RES.TASK_DEF_KEY_ AS TaskDefinitionKey,
                    RES.CATEGORY_ AS BusinessKey,
                    RES.DESCRIPTION_ AS Description,
                    RES.START_TIME_ AS CreateTime
                FROM
                    ACT_HI_TASKINST RES
                    INNER JOIN ACT_HI_PROCINST HPI ON RES.PROC_INST_ID_ = HPI.ID_
                    INNER JOIN ACT_RE_PROCDEF ARP ON RES.PROC_DEF_ID_ = arp.ID_
                WHERE
                    RES.END_TIME_ IS NOT NULL
                    AND HPI.END_TIME_ IS NULL
                    AND RES.ASSIGNEE_ IS NULL
                AND EXISTS ( SELECT LINK.ID_ FROM ACT_HI_IDENTITYLINK LINK WHERE LINK.TASK_ID_ = RES.ID_ AND ( LINK.USER_ID_ = #{srf.sessioncontext.srfuserid} ) )
                ) t1
         ]]>
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>

    </select>

    <select id="searchMyFinishTask" parameterType="cn.ibizlab.core.workflow.filter.WFTaskSearchContext"  resultType="cn.ibizlab.core.workflow.domain.WFTask">
        <![CDATA[
            SELECT
                T1.TaskId AS Id,
                T1.DefinitionId AS ProcessDefinitionId,
                T1.DefinitionName AS ProcessDefinitionName,
                T1.DefinitionKey AS ProcessDefinitionKey,
                T1.InstanceId AS ProcessInstanceId,
                T1.TaskName AS NAME,
                T1.TaskDefinitionKey,
                T1.BusinessKey AS ProcessInstanceBusinessKey,
                T1.Description,
                T1.CreateTime
            FROM
                (
                SELECT DISTINCT
                    RES.ID_ AS TaskId,
                    RES.PROC_DEF_ID_ AS DefinitionId,
                    ARP.NAME_ AS DefinitionName,
                    ARP.KEY_ AS DefinitionKey,
                    RES.PROC_INST_ID_ AS InstanceId,
                    RES.NAME_ AS TaskName,
                    RES.TASK_DEF_KEY_ AS TaskDefinitionKey,
                    RES.CATEGORY_ AS BusinessKey,
                    RES.DESCRIPTION_ AS Description,
                    RES.START_TIME_ AS CreateTime
                FROM
                    ACT_HI_TASKINST RES
                    INNER JOIN ACT_HI_PROCINST HPI ON RES.PROC_INST_ID_ = HPI.ID_
                    INNER JOIN ACT_RE_PROCDEF ARP ON RES.PROC_DEF_ID_ = arp.ID_
                WHERE
                    RES.END_TIME_ IS NOT NULL
                    AND HPI.END_TIME_ IS NOT NULL
                    AND RES.ASSIGNEE_ IS NULL
                AND EXISTS ( SELECT LINK.ID_ FROM ACT_HI_IDENTITYLINK LINK WHERE LINK.TASK_ID_ = RES.ID_ AND ( LINK.USER_ID_ = #{srf.sessioncontext.srfuserid} ) )
                ) t1
         ]]>
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>

    </select>
    <select id="searchMyAllTask"  parameterType="cn.ibizlab.core.workflow.filter.WFTaskSearchContext"  resultType="cn.ibizlab.core.workflow.domain.WFTask">
        <![CDATA[
        SELECT
            t1.TaskId AS Id,
            t1.DefinitionId AS ProcessDefinitionId,
            t1.DefinitionName AS ProcessDefinitionName,
            t1.DefinitionKey AS ProcessDefinitionKey,
            t1.InstanceId AS ProcessInstanceId,
            t1.TaskName AS NAME,
            t1.TaskDefinitionKey,
            t1.BusinessKey AS ProcessInstanceBusinessKey,
            t1.Description,
            t1.CreateTime
        FROM
            (
                SELECT
                    res.ID_ AS TaskId,
                    res.PROC_DEF_ID_ AS DefinitionId,
                    arp.NAME_ AS DefinitionName,
                    arp.KEY_ AS DefinitionKey,
                    res.PROC_INST_ID_ AS InstanceId,
                    res.NAME_ AS TaskName,
                    res.TASK_DEF_KEY_ AS TaskDefinitionKey,
                    res.CATEGORY_ AS BusinessKey,
                    res.DESCRIPTION_ AS Description,
                    res.CREATE_TIME_ AS CreateTime
                FROM
                    ACT_RU_TASK RES
                        INNER JOIN act_re_procdef arp ON RES.PROC_DEF_ID_ = arp.ID_
                        INNER JOIN ACT_HI_PROCINST HPI ON RES.PROC_INST_ID_ = HPI.ID_
                        INNER JOIN act_hi_taskinst aht ON RES.ID_ = aht.ID_

                WHERE
                        (aht.END_TIME_ IS NOT NULL
                            OR HPI.END_TIME_ IS NULL )
                        AND RES.ASSIGNEE_ IS NULL
                        OR RES.ASSIGNEE_ = #{srf.sessioncontext.srfuserid}
                   OR (
                        RES.ASSIGNEE_ IS NULL
                        AND EXISTS ( SELECT LINK.ID_ FROM ACT_RU_IDENTITYLINK LINK WHERE LINK.TASK_ID_ = RES.ID_ AND LINK.USER_ID_ = #{srf.sessioncontext.srfuserid}  )
                    )
            ) t1
        ]]>
        <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
    </select>
</mapper>