<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.core.ou.mapper.IBZDepartmentMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="IBZDepartmentResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`BCODE`, t1.`CREATEDATE`, t1.`DEPTCODE`, t1.`DEPTID`, t1.`DEPTLEVEL`, t1.`DEPTNAME`, t1.`DOMAINS`, t1.`ENABLE`, t1.`LEADERID`, t1.`LEADERNAME`, t1.`ORGID`, t11.`ORGNAME`, t1.`PDEPTID`, t21.`DEPTNAME` AS `PDEPTNAME`, t1.`SHORTNAME`, t1.`SHOWORDER`, t1.`UPDATEDATE` FROM `IBZDEPT` t1  LEFT JOIN IBZORG t11 ON t1.ORGID = t11.ORGID  LEFT JOIN IBZDEPT t21 ON t1.PDEPTID = t21.DEPTID  ) t1 where deptid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="IBZDepartmentResultMap" databaseId="oracle">
        <![CDATA[select t1.* from (SELECT t1.BCODE, t1.CREATEDATE, t1.DEPTCODE, t1.DEPTID, t1.DEPTLEVEL, t1.DEPTNAME, t1.DOMAINS, t1.ENABLE, t1.LEADERID, t1.LEADERNAME, t1.ORGID, t11.ORGNAME, t1.PDEPTID, t21.DEPTNAME AS PDEPTNAME, t1.SHORTNAME, t1.SHOWORDER, t1.UPDATEDATE FROM IBZDEPT t1  LEFT JOIN IBZORG t11 ON t1.ORGID = t11.ORGID  LEFT JOIN IBZDEPT t21 ON t1.PDEPTID = t21.DEPTID  ) t1 where deptid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="IBZDepartmentResultMap" databaseId="postgresql">
        <![CDATA[select t1.* from (SELECT t1.BCODE, t1.CREATEDATE, t1.DEPTCODE, t1.DEPTID, t1.DEPTLEVEL, t1.DEPTNAME, t1.DOMAINS, t1.ENABLE, t1.LEADERID, t1.LEADERNAME, t1.ORGID, t11.ORGNAME, t1.PDEPTID, t21.DEPTNAME AS PDEPTNAME, t1.SHORTNAME, t1.SHOWORDER, t1.UPDATEDATE FROM IBZDEPT t1  LEFT JOIN IBZORG t11 ON t1.ORGID = t11.ORGID  LEFT JOIN IBZDEPT t21 ON t1.PDEPTID = t21.DEPTID  ) t1 where deptid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="IBZDepartmentResultMap" type="cn.ibizlab.core.ou.domain.IBZDepartment" autoMapping="true">
        <id property="deptid" column="deptid" /><!--主键字段映射-->
		<result property="orgid" column="orgid" />
		<result property="parentdeptid" column="pdeptid" />
		<result property="parentdeptname" column="pdeptname" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="parentdept" javaType="cn.ibizlab.core.ou.domain.IBZDepartment" column="pdeptid" select="cn.ibizlab.core.ou.mapper.IBZDepartmentMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="org" javaType="cn.ibizlab.core.ou.domain.IBZOrganization" column="orgid" select="cn.ibizlab.core.ou.mapper.IBZOrganizationMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_IBZDEPT_IBZDEPT_PDEPTID] -->
	 <select id="selectByParentdeptid" resultMap="IBZDepartmentResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  pdeptid=#{deptid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_IBZDEPT_IBZORG_ORGID] -->
	 <select id="selectByOrgid" resultMap="IBZDepartmentResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  orgid=#{orgid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.core.ou.filter.IBZDepartmentSearchContext"  resultMap="IBZDepartmentResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`BCODE`, t1.`CREATEDATE`, t1.`DEPTCODE`, t1.`DEPTID`, t1.`DEPTLEVEL`, t1.`DEPTNAME`, t1.`DOMAINS`, t1.`ENABLE`, t1.`LEADERID`, t1.`LEADERNAME`, t1.`ORGID`, t11.`ORGNAME`, t1.`PDEPTID`, t21.`DEPTNAME` AS `PDEPTNAME`, t1.`SHORTNAME`, t1.`SHOWORDER`, t1.`UPDATEDATE` FROM `IBZDEPT` t1  LEFT JOIN IBZORG t11 ON t1.ORGID = t11.ORGID  LEFT JOIN IBZDEPT t21 ON t1.PDEPTID = t21.DEPTID  
					 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
		<![CDATA[ SELECT t1.BCODE, t1.CREATEDATE, t1.DEPTCODE, t1.DEPTID, t1.DEPTLEVEL, t1.DEPTNAME, t1.DOMAINS, t1.ENABLE, t1.LEADERID, t1.LEADERNAME, t1.ORGID, t11.ORGNAME, t1.PDEPTID, t21.DEPTNAME AS PDEPTNAME, t1.SHORTNAME, t1.SHOWORDER, t1.UPDATEDATE FROM IBZDEPT t1  LEFT JOIN IBZORG t11 ON t1.ORGID = t11.ORGID  LEFT JOIN IBZDEPT t21 ON t1.PDEPTID = t21.DEPTID  
					 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
		<![CDATA[ SELECT t1.BCODE, t1.CREATEDATE, t1.DEPTCODE, t1.DEPTID, t1.DEPTLEVEL, t1.DEPTNAME, t1.DOMAINS, t1.ENABLE, t1.LEADERID, t1.LEADERNAME, t1.ORGID, t11.ORGNAME, t1.PDEPTID, t21.DEPTNAME AS PDEPTNAME, t1.SHORTNAME, t1.SHOWORDER, t1.UPDATEDATE FROM IBZDEPT t1  LEFT JOIN IBZORG t11 ON t1.ORGID = t11.ORGID  LEFT JOIN IBZDEPT t21 ON t1.PDEPTID = t21.DEPTID  
					 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`BCODE`, t1.`CREATEDATE`, t1.`DEPTCODE`, t1.`DEPTID`, t1.`DEPTLEVEL`, t1.`DEPTNAME`, t1.`DOMAINS`, t1.`ENABLE`, t1.`LEADERID`, t1.`LEADERNAME`, t1.`ORGID`, t11.`ORGNAME`, t1.`PDEPTID`, t21.`DEPTNAME` AS `PDEPTNAME`, t1.`SHORTNAME`, t1.`SHOWORDER`, t1.`UPDATEDATE` FROM `IBZDEPT` t1  LEFT JOIN IBZORG t11 ON t1.ORGID = t11.ORGID  LEFT JOIN IBZDEPT t21 ON t1.PDEPTID = t21.DEPTID  
					 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="oracle">
		<![CDATA[ SELECT t1.BCODE, t1.CREATEDATE, t1.DEPTCODE, t1.DEPTID, t1.DEPTLEVEL, t1.DEPTNAME, t1.DOMAINS, t1.ENABLE, t1.LEADERID, t1.LEADERNAME, t1.ORGID, t11.ORGNAME, t1.PDEPTID, t21.DEPTNAME AS PDEPTNAME, t1.SHORTNAME, t1.SHOWORDER, t1.UPDATEDATE FROM IBZDEPT t1  LEFT JOIN IBZORG t11 ON t1.ORGID = t11.ORGID  LEFT JOIN IBZDEPT t21 ON t1.PDEPTID = t21.DEPTID  
					 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="postgresql">
		<![CDATA[ SELECT t1.BCODE, t1.CREATEDATE, t1.DEPTCODE, t1.DEPTID, t1.DEPTLEVEL, t1.DEPTNAME, t1.DOMAINS, t1.ENABLE, t1.LEADERID, t1.LEADERNAME, t1.ORGID, t11.ORGNAME, t1.PDEPTID, t21.DEPTNAME AS PDEPTNAME, t1.SHORTNAME, t1.SHOWORDER, t1.UPDATEDATE FROM IBZDEPT t1  LEFT JOIN IBZORG t11 ON t1.ORGID = t11.ORGID  LEFT JOIN IBZDEPT t21 ON t1.PDEPTID = t21.DEPTID  
					 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
</mapper>

