<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.core.ou.mapper.IBZOrganizationMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="IBZOrganizationResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`CREATEDATE`, t1.`ENABLE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGLEVEL`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`SHORTNAME`, t1.`SHOWORDER`, t1.`UPDATEDATE` FROM `IBZORG` t1  LEFT JOIN IBZORG t11 ON t1.PORGID = t11.ORGID  ) t1 where orgid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="IBZOrganizationResultMap" databaseId="postgresql">
        <![CDATA[select t1.* from (SELECT t1.CREATEDATE, t1.ENABLE, t1.ORGCODE, t1.ORGID, t1.ORGLEVEL, t1.ORGNAME, t1.PORGID, t1.SHORTNAME, t1.SHOWORDER, t1.UPDATEDATE FROM IBZORG t1  ) t1 where orgid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="IBZOrganizationResultMap" type="cn.ibizlab.core.ou.domain.IBZOrganization" autoMapping="true">
        <id property="orgid" column="orgid" /><!--主键字段映射-->
		<result property="parentorgid" column="porgid" />
		<result property="parentorgname" column="porgname" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="parentorg" javaType="cn.ibizlab.core.ou.domain.IBZOrganization" column="porgid" select="cn.ibizlab.core.ou.mapper.IBZOrganizationMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_IBZORG_IBZORG_PORGID] -->
	 <select id="selectByParentorgid" resultMap="IBZOrganizationResultMap">
         select t1.* from (
                <include refid="Default" />
         ) t1
         where  porgid=#{orgid}
     </select>

    <!--数据集合[SelectSOrg]-->
	 <select id="searchSelectSOrg"  parameterType="cn.ibizlab.core.ou.filter.IBZOrganizationSearchContext"  resultMap="IBZOrganizationResultMap">
         select t1.* from (
                <include refid="SelectSOrg" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[SelectPOrg]-->
	 <select id="searchSelectPOrg"  parameterType="cn.ibizlab.core.ou.filter.IBZOrganizationSearchContext"  resultMap="IBZOrganizationResultMap">
         select t1.* from (
                <include refid="SelectPOrg" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.core.ou.filter.IBZOrganizationSearchContext"  resultMap="IBZOrganizationResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`ENABLE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGLEVEL`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`SHORTNAME`, t1.`SHOWORDER`, t1.`UPDATEDATE` FROM `IBZORG` t1  LEFT JOIN IBZORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE, t1.ENABLE, t1.ORGCODE, t1.ORGID, t1.ORGLEVEL, t1.ORGNAME, t1.PORGID, t1.SHORTNAME, t1.SHOWORDER, t1.UPDATEDATE FROM IBZORG t1  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[SelectPOrg]-->
    <sql id="SelectPOrg" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`ENABLE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGLEVEL`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`SHORTNAME`, t1.`SHOWORDER`, t1.`UPDATEDATE` FROM `IBZORG` t1  LEFT JOIN IBZORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	t1.ENABLE = 1
					 AND ( INSTR(#{srf.datacontext.orglevel}, t1.ORGLEVEL)=1 )
			]]>
    </sql>

    <!--数据查询[SelectSOrg]-->
    <sql id="SelectSOrg" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`ENABLE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGLEVEL`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`SHORTNAME`, t1.`SHOWORDER`, t1.`UPDATEDATE` FROM `IBZORG` t1  LEFT JOIN IBZORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	t1.ENABLE = 1
					 AND ( INSTR(t1.ORGLEVEL,#{srf.datacontext.orglevel})=1 )
			]]>
    </sql>

    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
       <![CDATA[	SELECT t1.`CREATEDATE`, t1.`ENABLE`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGLEVEL`, t1.`ORGNAME`, t1.`PORGID`, t11.`ORGNAME` AS `PORGNAME`, t1.`SHORTNAME`, t1.`SHOWORDER`, t1.`UPDATEDATE` FROM `IBZORG` t1  LEFT JOIN IBZORG t11 ON t1.PORGID = t11.ORGID  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

    <!--数据查询[View]-->
    <sql id="View" databaseId="postgresql">
       <![CDATA[	SELECT t1.CREATEDATE, t1.ENABLE, t1.ORGCODE, t1.ORGID, t1.ORGLEVEL, t1.ORGNAME, t1.PORGID, t1.SHORTNAME, t1.SHOWORDER, t1.UPDATEDATE FROM IBZORG t1  
				 WHERE 	t1.ENABLE = 1
			]]>
    </sql>

</mapper>

