<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="cn.ibizlab.core.ou.mapper.SysEmployeeMapper">

    <!--该方法用于重写mybatis中selectById方法，以实现查询逻辑属性-->
	<select id="selectById"  resultMap="SysEmployeeResultMap" databaseId="mysql">
        <![CDATA[select t1.* from (SELECT t1.`ADDR`, t1.`AVATAR`, t1.`BCODE`, t1.`BIRTHDAY`, t1.`CERTCODE`, t1.`CREATEDATE`, t1.`DOMAINS`, t1.`EMAIL`, t1.`ENABLE`, t1.`FONTSIZE`, t1.`IPADDR`, t1.`LANG`, t1.`LOGINNAME`, t1.`MDEPTCODE`, t1.`MDEPTID`, t1.`MDEPTNAME`, t1.`MEMO`, t1.`NICKNAME`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PASSWORD`, t1.`PERSONNAME`, t1.`PHONE`, t1.`POSTCODE`, t1.`POSTID`, t1.`POSTNAME`, t1.`RESERVER`, t1.`SEX`, t1.`SHOWORDER`, t1.`THEME`, t1.`UPDATEDATE`, t1.`USERCODE`, t1.`USERICON`, t1.`USERID`, t1.`USERNAME` FROM `IBZEMP` t1  ) t1 where userid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="SysEmployeeResultMap" databaseId="oracle">
        <![CDATA[select t1.* from (SELECT t1.ADDR, t1.AVATAR, t1.BCODE, t1.BIRTHDAY, t1.CERTCODE, t1.CREATEDATE, t1.DOMAINS, t1.EMAIL, t1.ENABLE, t1.FONTSIZE, t1.IPADDR, t1.LANG, t1.LOGINNAME, t1.MDEPTCODE, t1.MDEPTID, t1.MDEPTNAME, t1.MEMO, t1.NICKNAME, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.PASSWORD, t1.PERSONNAME, t1.PHONE, t1.POSTCODE, t1.POSTID, t1.POSTNAME, t1.RESERVER, t1.SEX, t1.SHOWORDER, t1.THEME, t1.UPDATEDATE, t1.USERCODE, t1.USERICON, t1.USERID, t1.USERNAME FROM IBZEMP t1  ) t1 where userid=#{id}]]>
    </select>
	<select id="selectById"  resultMap="SysEmployeeResultMap" databaseId="postgresql">
        <![CDATA[select t1.* from (SELECT t1.ADDR, t1.AVATAR, t1.BCODE, t1.BIRTHDAY, t1.CERTCODE, t1.CREATEDATE, t1.DOMAINS, t1.EMAIL, t1.ENABLE, t1.FONTSIZE, t1.IPADDR, t1.LANG, t1.LOGINNAME, t1.MDEPTCODE, t1.MDEPTID, t1.MDEPTNAME, t1.MEMO, t1.NICKNAME, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.PASSWORD, t1.PERSONNAME, t1.PHONE, t1.POSTCODE, t1.POSTID, t1.POSTNAME, t1.RESERVER, t1.SEX, t1.SHOWORDER, t1.THEME, t1.UPDATEDATE, t1.USERCODE, t1.USERICON, t1.USERID, t1.USERNAME FROM IBZEMP t1  ) t1 where userid=#{id}]]>
    </select>

    <!--通过mybatis将查询结果注入到entity中,通过配置autoMapping="true"由mybatis自动处理映射关系 -->
    <resultMap id="SysEmployeeResultMap" type="cn.ibizlab.core.ou.domain.SysEmployee" autoMapping="true">
		<id property="userid" column="userid" /><!--主键字段映射-->
		<result property="mdeptid" column="mdeptid" />
		<result property="postid" column="postid" />
		<result property="orgid" column="orgid" />
            
		
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="maindept" javaType="cn.ibizlab.core.ou.domain.SysDepartment" column="mdeptid" select="cn.ibizlab.core.ou.mapper.SysDepartmentMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="org" javaType="cn.ibizlab.core.ou.domain.SysOrganization" column="orgid" select="cn.ibizlab.core.ou.mapper.SysOrganizationMapper.selectById" fetchType="lazy"></association>
		<!--通过mybatis自动注入关系属性[主实体]，fetchType="lazy"为懒加载配置 -->
		<association property="post" javaType="cn.ibizlab.core.ou.domain.SysPost" column="postid" select="cn.ibizlab.core.ou.mapper.SysPostMapper.selectById" fetchType="lazy"></association>
    </resultMap>

	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SYS_EMP_SYS_DEPT_MDEPTID] -->
	 <select id="selectByMdeptid" resultMap="SysEmployeeResultMap">
         select t1.* from (
                <include refid="Default" />
			 ) t1
			 where  mdeptid=#{deptid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SYS_EMP_SYS_ORG_ORGID] -->
	 <select id="selectByOrgid" resultMap="SysEmployeeResultMap">
         select t1.* from (
                <include refid="Default" />
			 ) t1
			 where  orgid=#{orgid}
     </select>
	<!--关系实体暴露select方法供主实体通过外键查询关系实体数据[实体关系名称:DER1N_SYS_EMP_SYS_POST_POSTID] -->
	 <select id="selectByPostid" resultMap="SysEmployeeResultMap">
         select t1.* from (
                <include refid="Default" />
			 ) t1
			 where  postid=#{postid}
     </select>

    <!--数据集合[Default]-->
	 <select id="searchDefault"  parameterType="cn.ibizlab.core.ou.filter.SysEmployeeSearchContext"  resultMap="SysEmployeeResultMap">
         select t1.* from (
                <include refid="Default" />
         )t1
         <where><if test="ew!=null and ew.sqlSegment!=null and !ew.emptyOfWhere">${ew.sqlSegment}</if></where>
         <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">${ew.sqlSegment}</if>
     </select>

    <!--数据查询[Default]-->
    <sql id="Default" databaseId="mysql">
		<![CDATA[ SELECT t1.`ADDR`, t1.`AVATAR`, t1.`BCODE`, t1.`BIRTHDAY`, t1.`CERTCODE`, t1.`CREATEDATE`, t1.`DOMAINS`, t1.`EMAIL`, t1.`ENABLE`, t1.`FONTSIZE`, t1.`IPADDR`, t1.`LANG`, t1.`LOGINNAME`, t1.`MDEPTCODE`, t1.`MDEPTID`, t1.`MDEPTNAME`, t1.`MEMO`, t1.`NICKNAME`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PASSWORD`, t1.`PERSONNAME`, t1.`PHONE`, t1.`POSTCODE`, t1.`POSTID`, t1.`POSTNAME`, t1.`RESERVER`, t1.`SEX`, t1.`SHOWORDER`, t1.`THEME`, t1.`UPDATEDATE`, t1.`USERCODE`, t1.`USERICON`, t1.`USERID`, t1.`USERNAME` FROM `IBZEMP` t1  
					 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="oracle">
		<![CDATA[ SELECT t1.ADDR, t1.AVATAR, t1.BCODE, t1.BIRTHDAY, t1.CERTCODE, t1.CREATEDATE, t1.DOMAINS, t1.EMAIL, t1.ENABLE, t1.FONTSIZE, t1.IPADDR, t1.LANG, t1.LOGINNAME, t1.MDEPTCODE, t1.MDEPTID, t1.MDEPTNAME, t1.MEMO, t1.NICKNAME, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.PASSWORD, t1.PERSONNAME, t1.PHONE, t1.POSTCODE, t1.POSTID, t1.POSTNAME, t1.RESERVER, t1.SEX, t1.SHOWORDER, t1.THEME, t1.UPDATEDATE, t1.USERCODE, t1.USERICON, t1.USERID, t1.USERNAME FROM IBZEMP t1  
					 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[Default]-->
    <sql id="Default" databaseId="postgresql">
		<![CDATA[ SELECT t1.ADDR, t1.AVATAR, t1.BCODE, t1.BIRTHDAY, t1.CERTCODE, t1.CREATEDATE, t1.DOMAINS, t1.EMAIL, t1.ENABLE, t1.FONTSIZE, t1.IPADDR, t1.LANG, t1.LOGINNAME, t1.MDEPTCODE, t1.MDEPTID, t1.MDEPTNAME, t1.MEMO, t1.NICKNAME, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.PASSWORD, t1.PERSONNAME, t1.PHONE, t1.POSTCODE, t1.POSTID, t1.POSTNAME, t1.RESERVER, t1.SEX, t1.SHOWORDER, t1.THEME, t1.UPDATEDATE, t1.USERCODE, t1.USERICON, t1.USERID, t1.USERNAME FROM IBZEMP t1  
					 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="mysql">
		<![CDATA[ SELECT t1.`ADDR`, t1.`AVATAR`, t1.`BCODE`, t1.`BIRTHDAY`, t1.`CERTCODE`, t1.`CREATEDATE`, t1.`DOMAINS`, t1.`EMAIL`, t1.`ENABLE`, t1.`FONTSIZE`, t1.`IPADDR`, t1.`LANG`, t1.`LOGINNAME`, t1.`MDEPTCODE`, t1.`MDEPTID`, t1.`MDEPTNAME`, t1.`MEMO`, t1.`NICKNAME`, t1.`ORGCODE`, t1.`ORGID`, t1.`ORGNAME`, t1.`PASSWORD`, t1.`PERSONNAME`, t1.`PHONE`, t1.`POSTCODE`, t1.`POSTID`, t1.`POSTNAME`, t1.`RESERVER`, t1.`SEX`, t1.`SHOWORDER`, t1.`THEME`, t1.`UPDATEDATE`, t1.`USERCODE`, t1.`USERICON`, t1.`USERID`, t1.`USERNAME` FROM `IBZEMP` t1  
					 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="oracle">
		<![CDATA[ SELECT t1.ADDR, t1.AVATAR, t1.BCODE, t1.BIRTHDAY, t1.CERTCODE, t1.CREATEDATE, t1.DOMAINS, t1.EMAIL, t1.ENABLE, t1.FONTSIZE, t1.IPADDR, t1.LANG, t1.LOGINNAME, t1.MDEPTCODE, t1.MDEPTID, t1.MDEPTNAME, t1.MEMO, t1.NICKNAME, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.PASSWORD, t1.PERSONNAME, t1.PHONE, t1.POSTCODE, t1.POSTID, t1.POSTNAME, t1.RESERVER, t1.SEX, t1.SHOWORDER, t1.THEME, t1.UPDATEDATE, t1.USERCODE, t1.USERICON, t1.USERID, t1.USERNAME FROM IBZEMP t1  
					 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
    <!--数据查询[View]-->
    <sql id="View" databaseId="postgresql">
		<![CDATA[ SELECT t1.ADDR, t1.AVATAR, t1.BCODE, t1.BIRTHDAY, t1.CERTCODE, t1.CREATEDATE, t1.DOMAINS, t1.EMAIL, t1.ENABLE, t1.FONTSIZE, t1.IPADDR, t1.LANG, t1.LOGINNAME, t1.MDEPTCODE, t1.MDEPTID, t1.MDEPTNAME, t1.MEMO, t1.NICKNAME, t1.ORGCODE, t1.ORGID, t1.ORGNAME, t1.PASSWORD, t1.PERSONNAME, t1.PHONE, t1.POSTCODE, t1.POSTID, t1.POSTNAME, t1.RESERVER, t1.SEX, t1.SHOWORDER, t1.THEME, t1.UPDATEDATE, t1.USERCODE, t1.USERICON, t1.USERID, t1.USERNAME FROM IBZEMP t1  
					 WHERE 	t1.ENABLE = 1
			]]>
    </sql>
</mapper>

